@import "../../style.scss";

.Main {
  @include themify($themes) {
    // -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    // -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    // background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;
    margin: 20px 10px 20px 50px;

  }
  .user-profiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 5%;
    width: 100%;
    // padding: 10px;
    .user-container {
      box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.38);
      background-color: white;
      padding: 10px 10px 10px 10px;
      text-align: center;
      border-radius: 20px;
      height: 100%;
      min-height: 320px;
      width: calc(29.5% ); /* Adjust as needed based on the number of columns and gap */
      box-sizing: border-box;
      .imagepath{
        display: none;
      }
      img {
        // margin-top: 1.5%;

        width: 70%;
        height: 70%;
        max-width: 150px;
        max-height: 150px;

        // height: 30%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 10px solid rgba(255, 255, 255, 0.3);
        margin: 15px 25px 20px 9%;

      }
      span {
        font-size: 25px;
        margin-top: -70px;
      }

      p {
        font-size: 18px;
        margin-top: 10px;
        font-weight: bolder;
      }
    }
  }
  
  // table {
  //   margin: 0 auto;
  //   thead {
  //     tr {
  //       th {
  //         font-size: 50px;
  //       }
  //     }
  //   }
  //   border-collapse: separate; /* Ensure separate borders for each cell */
  //   border-spacing: 25px;
  //   margin: 0 5% 0 5%;
  //   border-radius: 20px;
  //   tbody{
  //     tr{
  //       // box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  //       td{
  //         text-align: center;
  //         background-color: white;
  //         border-radius: 20px;

  //         img {
  //           margin-top: 1.5%;
  
  //           width: 70%;
  //           height: 70%;
  //           max-width: 150px;
  //           max-height: 150px;
  
  //           // height: 30%;
  //           border-radius: 50%;
  //           -webkit-border-radius: 50%;
  //           border: 10px solid rgba(255, 255, 255, 0.3);
  //           margin: 10px 25px 35px 9%;
  
  //         }
  //         span {
  //           font-size: 25px;
  //           margin-top: -50px;
  //         }
  
  //         p {
  //           font-size: 18px;
  //           margin-top: 10px;
  //           font-weight: bolder;
  //         }
        
  //       }
  //     }
  //   }
  // }

  .BOX {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    // background: black;
    display: flex;
    justify-content: space-evenly;

    .box {
      border-radius: 20px;
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      width: 30%;
      background-color: rgb(255, 255, 255);
      margin: 0 5px;
      //  height: 100%;
      text-align: center;

      .box-content {
        // padding: 0 0 2.5% 0;
        justify-content: center;
        display: grid;
        width: 100%;

        img {
          margin-top: 1.5%;

          width: 70%;
          height: 70%;
          max-width: 150px;
          max-height: 150px;

          // height: 30%;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          border: 10px solid rgba(255, 255, 255, 0.3);
          margin: 10px 25px 35px 9%;

        }

        span {
          font-size: 25px;
          margin-top: -20px;
        }

        p {
          font-size: 18px;
          margin-top: 10px;
          font-weight: bolder;
        }
      }
    }
  }

}